[submodule "gruvbox"]
	path = gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "tmux-gruvbox"]
	path = tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox.git
